{% extends 'base.html.twig' %}

{% block title %}Edit Location{% endblock %}

{% block body %}
    <h1>Edit Location test</h1>

    {{ include('location/_form.html.twig', {'button_label': 'Update'}) }}

    {% if is_granted('ROLE_LOCATION_INDEX') %}
        <a href="{{ path('app_location_index') }}">back to list</a>
    {% endif %}

    {% if is_granted('ROLE_LOCATION_DELETE') %}
        {{ include('location/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
