{% extends 'base.html.twig' %}

{% block title %}Location{% endblock %}

{% block body %}
    <h1>Location</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ location.id }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ location.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ location.country }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ location.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ location.longitude }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_LOCATION_INDEX') %}
        <a href="{{ path('app_location_index') }}">back to list</a>
    {% endif %}
    {% if is_granted('ROLE_LOCATION_EDIT') %}
        <a href="{{ path('app_location_edit', {'id': location.id}) }}">edit</a>
    {% endif %}
    {% if is_granted('ROLE_LOCATION_DELETE') %}
        {{ include('location/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
