{
    "city": {{ city }},
    "country": {{ country }},
    "measurements": [
        {% for measurement in measurements %}
            {
                "date": "{{ measurement.date | date('Y-m-d') }}",
                "celsius": "{{ measurement.celsius }}",
                "fahrenheit": "{{ measurement.fahrehneit }}"
            }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}