{% extends 'base.html.twig' %}

{% block title %}Edit Measurement{% endblock %}

{% block body %}
    <h1>Edit Measurement</h1>

    {{ include('measurement/_form.html.twig', {'button_label': 'Update'}) }}

    {% if is_granted('ROLE_MEASUREMENT_INDEX') %}
        <a href="{{ path('app_measurement_index') }}">back to list</a>
    {% endif %}
    {% if is_granted('ROLE_MEASUREMENT_DELETE') %}
        {{ include('measurement/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
