{% extends 'base.html.twig' %}

{# @var location \App\Entity\Location #}
{# @var weather \App\Entity\Weather #}

{% block title %}
{% if location is not null %}
    Weather in {{ location.city }}, {{ location.country }}
{% else %}
    Location not found TEST123
{% endif %}

{% endblock %}

{% block body %}
<main>
    {% if location is not null %}
        <h1>Weather in {{ location.city }}, {{ location.country }}</h1>

        <ul>
            {% for measurement in measurements %}
                <li>{{ measurement.date|date('d.m.Y') }}: {{ measurement.celsius }}&deg;C</li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>Location not found</h1>
    {% endif %}
</main>
{% endblock %}
